@charset "utf-8";

/*===== 样式重置 =====*/
	html,body,h1,h2,h3,h4,h5,h6,hr,p,iframe,dl,dt,dd,ul,ol,li,pre,form,fieldset,button,input,textarea,th,td{margin:0;padding:0;}

	html{overflow-y:scroll;}
	body{height:100%; background-color:#FFF;}

	body,button,input,select,textarea,fieldset,label{font:12px/1.5 tahoma,arial,\5b8b\4f53; color:#555;}

	h1,h2,h3,h4,h5,h6{font-size:100%;}

	ul,ol{list-style:none;}

	fieldset,img{border:0 none;}

	table{border-collapse:collapse; border-spacing:0;}

	input,select,textarea,button{font-size:100%; -webkit-box-sizing:content-box; -moz-box-sizing:content-box; box-sizing:content-box;}
	button,
	input[type=button],
	input[type=submit]{cursor:pointer;}
	input[type=search]{-webkit-appearance:textfield;}
	textarea{overflow-y:auto; resize:vertical;}

	i,em {font-style:normal;}

	.clear{zoom:1;}
	.clear:after{
		content:' ';
		display:block;
		clear:both;
		height:0;
		visibility:hidden;
	}

	.hidden{display:none;}

	a{color:#666; text-decoration:none;}
	a:hover{color:#D70000; text-decoration:underline;}

	a.lk_0{color:#317EE7;}
	a.lk_0:hover{color:#317EE7;}

	a.lk_1{color:#D70000;}
	a.lk_1:hover{color:#D70000;}

	.c_tx0{color:#317EE7;}
	.c_tx1{color:#D70000;}
	.c_tx2{color:#FF7F02;}
	.c_tx3{color:#999999;}

	.a_tx1{text-align:left;}
	.a_tx2{text-align:center;}
	.a_tx3{text-align:right;}

	.f_tx1{font-family:"\5FAE\8F6F\96C5\9ED1","\9ED1\4F53";}


	.fm_int,
	.fm_tat{
		border:1px solid #D8DCE5;
		background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#F7F7F7),color-stop(0%,#F2F2F2),color-stop(10%,#FFFFFF),color-stop(100%,#FFFFFF));
	}

/* =====Sprites===== */
    .mod_entry_icson,
    .mod_minicart_ico,
    .mod_search_btn,
.mod_logo,
.cate_wg_ico,
.mod_cate_new {background-image:url(/icson/img/common/gb.png);background-repeat:no-repeat;}

/* =====Toolbar===== */
.ic_toolbar {background-color:#157AD4;color:#A5CDFF;border-bottom:1px solid #156DCF;}
.ic_toolbar a {color:#A5CDFF;}
.ic_toolbar a:hover {color:#A5CDFF;}

    /* 入口 */
    .mod_entry {float:left;height:26px;}
    .mod_entry_icson {padding-left:5px;margin-right:3px;}
    .mod_entry a {float:left;height:26px;line-height:26px;overflow:hidden;}
    .mod_entry_gap {float:left;width:0px;height:12px;margin:8px 15px 0;overflow:hidden;border-right:1px solid #156DCF;}

    /* 站点地图 */
    .mod_sitemap {float:right;height:26px;line-height:26px;}
    .mod_sitemap_ul {zoom:1;float:left;}
    .mod_sitemap_ul:after {content:'';display:block;clear:both;height:0;visibility:hidden;}
    .mod_sitemap_li {float:left;}
    .mod_sitemap_user {_margin-top:2px;}
    .mod_sitemap_grade {position:relative;display:inline-block;zoom:1;#display:inline;top:4px;left:5px;margin-right:10px;}
    .mod_sitemap_gap {float:left;width:0px;height:12px;margin:8px 10px 0;overflow:hidden;border-right:1px solid #156DCF;}

    /* dropmenu */
    .mod_dropmenu {position:relative;}
    .mod_dropmenu_con {padding-right:12px;}
    .mod_dropmenu_arrow {position:absolute;right:0px;top:12px;margin-left:3px;width:0; height:0; overflow:hidden; font-size:0;display:block; border-width:4px; border-color:#A9CDFF transparent transparent transparent; border-style:solid dashed dashed dashed;
        -webkit-transition: all 0.3s ease-out; transition: all 0.3s ease-out;-webkit-transform-origin:50% 20%;transform-origin:50% 20%;
    }
    .mod_dropmenu_con:hover .mod_dropmenu_arrow {-webkit-transform:rotate(180deg);transform:rotate(180deg);}


/* =====Heder===== */
.ic_header {height:100px;background-color:#1D7AD9;}

    /* logo */
    .mod_logo {float:left;width:249px;height:50px;margin-top:25px;border-right:1px solid #0D67B3;#display:inline;margin-right:10px;overflow:hidden;border-right:1px solid #0D67B3;}
    .mod_logo a {display:block;text-indent:-9999px;}

    /* sublogo area  */
    .mod_area {float:left;margin-top:25px;padding-top:5px;}
    .mod_area_prom {clear:both;color:#FEE602;font-weight:700;}

    /* region choose */
    .mod_region {zoom:1;float:left;}
    .mod_region:after {content:'';display:block;clear:both;height:0;visibility:hidden;}
    .mod_region_tit {float:left;#display:inline;margin-right:3px;color:#fff;}
    .mod_region_arrow {position:relative;top:-2px;margin-left:3px;width:0; height:0; overflow:hidden; font-size:0; display:inline-block; border-width:4px; border-color:#fff transparent transparent transparent; border-style:solid dashed dashed dashed;
        -webkit-transition: all 0.3s ease-out; transition: all 0.3s ease-out;-webkit-transform-origin:50% 20%;transform-origin:50% 20%;
    }
    .mod_region_hd {float:left;font-weight:700;padding-left:5px;padding-right:5px;color:#fff;cursor:pointer;}
    .mod_region_bd {display:none;position:absolute;top:18px;left:27px;width:350px;padding:10px;background-color:#fff;line-height:20px;}
    .mod_region_bd li {zoom:1;overflow:hidden;padding:5px 0 5px 75px;}
    .mod_region_bd .mod_region_bd_last {padding-left:0px;color:#888;}
    .mod_region_bd_tit {float:left;#display:inline;margin-left:-75px;}
    .mod_region_bd_con a {float:left;padding:0px 10px 0px 5px;margin-right:3px;white-space:nowrap;word-break:keep-all;word-wrap:normal;}
    .mod_region_bd_con a:hover {background-color:#1D7AD9;color:#fff;text-decoration:none;}

        /* region choose hover */
        /* TODO delete hover  */
        .mod_region_on .mod_region_arrow {border-top-color:#1D7AD9;-webkit-transform:rotate(180deg);transform:rotate(180deg);}
        .mod_region_on {position:relative;z-index:700;}
        .mod_region_on .mod_region_hd {background-color:#fff;color:#1D7AD9;}
        .mod_region_on .mod_region_bd {display:block;box-shadow:2px 2px 3px rgba(0,0,0,.3);}

    /* search cart wrap */
    .search_cart_wrap {float:right;margin-top:30px;}

    /* search */
    .mod_search {float:left;width:400px;height:40px;margin-right:20px;}
    .mod_search_con {float:left;width:350px;height:40px;padding-left:10px;padding-right:5px;line-height:22px;border:0;overflow:hidden;}
    .mod_search_con:focus {outline:none;}
    .mod_search_btn {float:left;width:35px;height:40px;border:0;text-indent:-9999px;overflow:hidden;font-size:0px;background-position:0px -60px;}

    /* minicart */
    .mod_minicart {float:left;width:150px;height:40px;background-color:#f80;color:#fff;}
    .mod_minicart_ico {float:left;width:20px;height:20px;margin-top:10px;#display:inline;margin-left:10px;background-position:-60px -60px;}
    .mod_minicart_tit {float:left;padding-left:10px;padding-right:10px;font:400 14px/40px "\5FAE\8F6F\96C5\9ED1",Arial;}
    .mod_minicart_gap {float:left;width:0px;height:40px;font-size:0px;overflow:hidden;border-left:1px solid #E27A00;border-right:1px solid #FF9C01;}
    .mod_minicart_num {float:left;width:30px;line-height:40px;text-align:right;}
    .mod_minicart_arrow {float:left;width:12px;height:12px;margin-top:15px;#display:inline;margin-left:5px;overflow:hidden;background-color:#fff;}
    .mod_minicart_arrow i {float:left;#display:inline;margin-left:2px;margin-top:4px;width:0; height:0;overflow:hidden; font-size:0;border-width:4px; border-color:#F80 transparent transparent; border-style:solid dashed dashed;
        -webkit-transition: all 0.3s ease-out; transition: all 0.3s ease-out;-webkit-transform-origin:50% 20%;transform-origin:50% 20%;
    }
        /* minicart hover */
        .mod_minicart_on .mod_minicart_arrow i {-webkit-transform:rotate(180deg);transform:rotate(180deg);}


/* =====Nav===== */
.ic_nav {height:39px;border-top:1px solid #135DBC;background-color:#1369C0;color:#fff;}

    /* 垂直导航 */
    .mod_cate {position:relative;z-index:600;margin-top:-1px;float:left;width:190px;height:40px;background-color:#4A98FF;box-shadow:2px -1px 3px rgba(55,55,55,.5);}
    .mod_cate a {color:#fff;}
    .mod_cate a:hover {color:#fff;}
    .mod_cate_hd {height:39px;border-bottom:1px solid #4A98FF;font:400 16px/38px "\5FAE\8F6F\96C5\9ED1",Arial;text-indent:15px;}
    .mod_cate_bd {display:none;position:absolute;top:40px;left:0px;width:190px;background-color:#4593FD;box-shadow:3px 0px 3px -2px rgba(55,55,55,.4);}
    .mod_cate_li {padding:10px 10px;border-top:1px solid #5AA0FF;border-bottom:1px solid #3586F2;vertical-align:top;}

    .mod_cate_new {background-position:-469px -60px;}

    .mod_cate_r1 {height:25px;font:400 14px/22px "\5FAE\8F6F\96C5\9ED1",Arial;zoom:1;overflow:hidden;}
    .mod_cate_r1 h4 {float:left;}
    .mod_cate_prom {float:left;height:18px;padding:0px 5px;margin-top:3px;margin-left:5px;font:400 12px/18px Arial;background-color:#106AC0;overflow:hidden;}
    .mod_cate .mod_cate_prom {color:#8EBFFF;}
    .mod_cate .mod_cate_prom:hover {color:#fff;}
    .mod_cate_arrow {float:right;width:0; height:0;margin-top:8px; overflow:hidden; font-size:0; display:inline-block; border-width:4px; border-color:transparent transparent transparent #D5E8FF; border-style:dashed dashed dashed solid;
        -webkit-transition: all 0.3s ease-out; transition: all 0.3s ease-out;-webkit-transform-origin:50% 20%;transform-origin:50% 20%;
    }
    .mod_cate .cate_wg_ico {padding-left:10px;margin-right:5px;background-position:0px -120px;}

    .mod_cate_r2 {clear:both;height:20px;line-height:20px;overflow:hidden;}
    .mod_cate_r2 a {margin-right:5px;}

    .mod_cate_wg {padding-top:18px;height:55px;border-bottom:0;}

        /* =====hover===== */
        .mod_cate_on .mod_cate_hd {border-color:#3586F2;}
        .mod_cate_on .mod_cate_bd {display:block;}

    /* 水平导航 */
    .mod_nav {float:left;height:39px;font:400 16px/38px "\5FAE\8F6F\96C5\9ED1",Arial;} 
    .mod_nav_ul {zoom:1;float:left;}
    .mod_nav_ul:after {content:'';display:block;clear:both;height:0;visibility:hidden;}
    .mod_nav_gap {float:left;margin:12px 10px 0;font-size:0px;width:0px;height:16px;overflow:hidden;border-left:1px solid #0373BA;border-right:1px solid #0A5799;}
    .mod_nav_li {float:left;height:39px;}
    .mod_nav_li a {display:block;padding:0px 30px;color:#fff; -webkit-transition:all .3s ease-out; }
    .mod_nav_li a:hover {background-color:#135DBC;color:#fff;text-decoration:none;}
    .mod_nav_li_new {position:relative;}
    .mod_nav_new {position:absolute;visibility:hidden;visibility:visible\9;top:-10px;left:50%;margin-left:-17px;padding:0px 4px;height:16px;background-color:#f80;color:#fff;font:400 12px/16px tahoma;border-radius:2px; }
    .mod_nav_new i {position:absolute;top:8px;left:50%;margin-left:-6px;font:400 10px/16px simsun;color:#f80; -webkit-transform:scale(.83); }

    .mod_nav_new { 
        -webkit-animation:animIcoNew 0.4s ease-out .7s forwards;
        -moz-animation:animIcoNew 0.4s ease-out .7s forwards;
    }
    @-webkit-keyframes animIcoNew {
        0% {top:0px;opacity:.2;visibility:visible;}
        75% {top:-13px;}
        100% {top:-10px;opacity:1;visibility:visible;}
    }
    @-moz-keyframes animIcoNew {
        0% {top:0px;opacity:.2;visibility:visible;}
        75% {top:-13px;}
        100% {top:-10px;opacity:1;visibility:visible;}
    }
