@charset "utf-8";
/**
 * index.css
 *
 * @author alextang<colinvivy#gmail.com>
 * @date 2013-06-27
 */

/* =====Layout===== */

/* sidebar比较特殊，不包含gutter，所以其宽度要减去gutter的宽度 */
/* 最常规的三种布局 */
.grid_s {float:left;width:190px;}
.grid_m {float:left;width:800px;}
.grid_e {float:left;width:200px;}

.grid_s5m25 .grid_m {width:1000px;}
.grid_s5m10 .grid_m {width:400px;}

/* gutter */
.grid_g1 {float:left;width:10px;height:20px;overflow:hidden;}

/* =====Sprites===== */
.ulike_change_ico,
.mod_service_hot,
.mod_service_dot,
.daily_time i,
.daily_tit_ico,
.slider_go_prev,
.slider_go_next,
.customer_ico,
.mod_mobile_tdcode,
.mod_mobile_store a,
.mobile_icson_tdcode,
.mobile_icson_store a {background-image:url(/icson/img/index/index.png);background-repeat:no-repeat;background-color:#000;}

/* =====Private tiny module====== */
h3,
h4 {font-weight:400;}
img {display:block;}
.hide {display:none;}

    /* 热销榜 */
    .sy_mod_rank_bod {margin-top:-3px;display:block;font-size:0px;overflow:hidden;width:100%;height:3px;background-color:#FF7201;}
    .sy_mod_rank {width:999px;height:199px;border:1px solid #ccc;border-top:0;border-left:0;overflow:hidden;}
    .sy_mod_rank_hd {height:35px;}
    .sy_mod_rank_tit {float:left;font:400 18px/33px "\5FAE\8F6F\96C5\9ED1" ,Arial;}
    .sy_mod_rank_ext {float:right;height:32px;}
    .sy_mod_rank_ext li {float:left;height:32px;padding:0 15px;font:400 14px/32px "\5FAE\8F6F\96C5\9ED1",Arial;}
    .sy_mod_rank_ext .sy_mod_rank_gap {float:left;width:0px;height:14px;padding:0px;margin:11px 0px 0;overflow:hidden;border-right:1px solid #B6B6B6;}
    .sy_mod_rank_ext .on {position:relative;margin:0px -1px;padding:0px 16px;background-color:#FF7201;}
    .sy_mod_rank_ext .on a,
    .sy_mod_rank_ext .on a:hover {color:#fff;}

    .sy_mod_rank_bd {zoom:1;overflow:hidden;width:1000px;}
    .sy_mod_rank_bd li {float:left;width:200px;height:125px;padding-top:35px;}
    .sy_mod_rank_order {float:left;width:25px;height:90px;background-color:#000;}
    .sy_mod_rank .mod_goods {float:left;width:80px;}
    .sy_mod_rank .mod_goods_price {font-size:16px;}

    /* tag */
    .sy_mod_tag {display:inline-block;zoom:1;#display:inline;height:18px;line-height:16px;padding:0px 5px;font-family: Tahoma,Arial;background-color:#FE7100;color:#fff;font-weight:700;overflow:hidden;}

    /* 选项卡图片 */
    .sy_mod_glide {position:relative;width:190px;height:400px;zoom:1;overflow:hidden;}
    .sy_mod_glide_img {position:relative;zoom:1;overflow:hidden;float:left;width:1900px;}
    .sy_mod_glide_img li {float:left;width:190px;height:400px;overflow:hidden;}
    .sy_mod_glide_img li a {display:block;}
    .sy_mod_glide_trigger {position:absolute;bottom:10px;left:20px;width:150px;height:20px;}
    .sy_mod_glide_trigger i {float:left;font:400 28px/18px Arial;color:#fff;cursor:pointer;margin-right:3px;}
    .sy_mod_glide_trigger .glide_on {color:#000;}

    /* 关键字 */
    .sy_mod_key {width:168px;height:179px;padding:10px;border:1px solid #ccc;border-top:0;}
    .sy_mod_key_dl {padding-bottom:10px;}
    .sy_mod_key_dl dt ,
    .sy_mod_key_dl dd {display:inline;}
    .sy_mod_key_dl dd a {color:#888;white-space:nowrap;word-break:keep-all;word-wrap:normal;}
    .sy_mod_key_dl dd a:hover {color:#D70000;}

    /* 楼层右侧图片 */
    .sy_mod_extimg {width:199px;height:399px;border:1px solid #ccc;border-bottom:0;border-left:0;overflow:hidden;}

    /* 楼层商品列表 */
    .sy_mod_f2_goods_wrap {width:799px;height:399px;border-top:1px solid #ccc;border-right:1px solid #ccc;overflow:hidden;}
    .sy_mod_f2_goods {width:800px;zoom:1;}
    .sy_mod_f2_goods:after {content:'';display:block;clear:both;height:0;visibility:hidden;}
    .sy_mod_f2_goods li {float:left;width:199px;height:199px;border-right:1px solid #E5E5E5;border-bottom:1px solid #E5E5E5;}

    /* 楼层 */
    .sy_mod_f {clear:both;margin-top:25px;}
    .sy_mod_f_hd {height:35px;}
    .sy_mod_f_tit {float:left;font:400 20px/35px "\5FAE\8F6F\96C5\9ED1",Arial;}
    .sy_mod_f_tit h3 {font-weight:400;}
    .sy_mod_f_hd .sy_mod_tag {float:left;margin-left:10px;margin-top:10px;}
    .sy_mod_f_bd {clear:both;zoom:1;}
    .sy_mod_f_bd:after {content:'';display:block;clear:both;height:0;visibility:hidden;}

/* =====首屏===== */
.core {clear:both;background-color:#E2E2E2;}
.core .grid_s {height:600px;background-color:#fff;}
.core .grid_m {height:600px;}
.core .grid_e {height:600px;background-color:#F4F4F4;}

    /* =====首屏中间区域===== */
    /* 巨无霸 */
    .slider {width:800px;height:300px;position:relative;overflow:hidden;}
    .slider_img {position:relative;width:800px;}
    .slider_img li {width:800px;height:300px;overflow:hidden;}
    .slider_img li a {display:block;}

    .slider_trigger {position:absolute;bottom:12px;left:15px;width:300px;height:25px;overflow:hidden;font-family: Tahoma,Arial;letter-spacing:-4px;letter-spacing:-10px\9;#letter-spacing:-4px;
    }
    .slider_trigger li {display:inline-block;zoom:1;#display:inline;height:25px;overflow:hidden;margin-right:10px;cursor:pointer;font:400 31px/22px tahoma,Arial,Simsun;letter-spacing:0;color:#fff;}
    .slider_trigger li.on {color:#333;cursor:default;}

    .slider_go_prev ,
    .slider_go_next {position:absolute;top:100px;width:40px;height:100px;outline:none;cursor:pointer;filter:alpha(opacity=50);opacity:0.5;}
    .slider_go_prev {left:0;background-position:0 -60px;}
    .slider_go_next {right:0;background-position:-40px -60px;}
    .slider_go_disabled {filter:alpha(opacity=10);opacity:0.1;}

    /* 每日抢购 */
    .daily_bod {position:relative;display:block;font-size:0px;margin-top:-3px;overflow:hidden;height:3px;background-color:#FF8502;}
    .daily {position:relative;clear:both;height:300px;background-color:#FFFFFF;}
    .daily_hd {position:absolute;top:0px;left:250px;width:299px;height:149px;background-color:#EAEAEA;}
    .daily_tit {height:30px;background-color:#F70;font:400 16px/30px "\5FAE\8F6F\96C5\9ED1",Arial;text-align:center;color:#fff;}
    .daily_tit_ico {padding-left:12px;margin-right:10px;}

    .daily_change {clear:both;height:29px;font:400 14px/29px "\5FAE\8F6F\96C5\9ED1", Arial;overflow:hidden;border-top:1px solid #CCCCCC;text-align:center;}
    .daily_change_tit {display:inline-block;zoom:1;#display:inline;}
    .daily_change_ico {position:relative;top:2px;margin-left:5px;display:inline-block;zoom:1;#display:inline;width:0; height:0;overflow:hidden; font-size:0;border-width:4px; border-color:#333 transparent transparent; border-style:solid dashed dashed;}

        /* time */
        .daily_time {zoom:1;overflow:hidden;width:200px;height:75px;margin:0 auto;padding-top:15px;font-family:impact;}
        .daily_time_item{overflow:hidden;float:left; position:relative;width:56px; height:58px; line-height:58px;border-radius:2px;}
        .daily_time span{ display:block; background-color:#2A333D; color:#FFF; text-align:center; font-size:34px; font-size:42px\9;
            -webkit-transform:scale(1.2); -moz-transform:scale(1.2); -o-transform:scale(1.2);
        }
        .daily_time s {overflow:hidden; position:absolute; top:50%; margin-top:-1px; width:100%; height:2px; background-color:#2B3541;}
        .daily_time i {float:left;width:16px;height:58px;}

    .daily_bd {width:799px;height:299px;border-right:1px solid #ccc;border-bottom:1px solid #ccc;overflow:hidden;}
    .daily_goods {zoom:1;overflow:hidden;width:800px;height:300px;}
    .daily_goods li {float:left;width:229px;height:135px;padding:14px 10px 0px 10px;border-right:1px solid #E5E5E5;border-bottom:1px solid #E5E5E5;}
    .daily_goods .daily_goods_wide {width:259px;padding:14px 20px 0;}

        /* mod temp */
        .mod_goods_w120 {padding-left:130px; height:auto!important; min-height:120px; height:120px;}
        .mod_goods_w120 .mod_goods_img {position:absolute; left:0; top:0; width:120px;}

        .daily_goods .mod_goods_info {padding-top:16px;}
        .daily_goods .mod_goods_price {font-size:16px;line-height:18px;font-weight:700;color:#f80;}
        .daily_goods .mod_goods_price i {padding-right:2px;}
        .daily_goods .mod_goods_promo {font-weight:400;width:100%;overflow:hidden;text-overflow:ellipsis;word-break:keep-all;white-space:nowrap;}
        .daily_goods .mod_goods_tit {width:100%;height:18px;overflow:hidden;text-overflow:ellipsis;word-break:keep-all;white-space:nowrap;}
        .daily_goods .mod_goods_stock span {width:65px;}
    

    /* =====首屏右侧区域===== */
    /* 服务 */
    .serv_bod {display:block;height:4px;font-size:0px;overflow:hidden;background-color:#FF8A00;}
    .serv_bd {height:125px;border-bottom:1px solid #ccc;border-right:1px solid #ccc;}
    .serv_glide_img {float:left;width:199px;height:125px;overflow:hidden;}
    .serv_glide_tirgger {float:right;margin-top:-25px;height:20px;overflow:hidden;padding-right:12px;}
    .serv_glide_tirgger i {font:400 20px/20px tahoma,Arial;color:#999;}
    .serv_glide_tirgger .on {color:#f80;}
    .serv_ft {clear:both;height:40px;box-shadow:0px 1px 5px #ccc;}
    .serv_ft a {float:left;width:99px;height:40px;font:700 12px/40px Arial;color:#666;border-right:1px solid #ccc;text-align:center;}
    .serv_ft a:hover {text-decoration:none;}

    /* notice */
    .notice {clear:both;width:169px;padding:0px 15px;border-bottom:1px solid #ccc;border-right:1px solid #ccc;}
    .notice_hd {height:35px;padding-top:5px;font:400 16px/35px "\5FAE\8F6F\96C5\9ED1",Arial;}
    .notice_bd {height:45px;padding-bottom:14px;}
    .notice_list {line-height:22px;}
    .notice_list li {width:100%;overflow:hidden;text-overflow:ellipsis;word-break:keep-all;white-space:nowrap;}
    .notice_list a {color:#888;}

    /* 充值 */
    .chong_frm {clear:both;height:179px;padding:0px 14px 0 15px;border-right:1px solid #ccc;border-bottom:1px solid #ccc;}
    .chong_frm iframe {width:170px;height:170px;background-color:#ccc;}

    /* 手机易迅 */
    .mobile_icson {height:109px;padding-left:15px;border-right:1px solid #ccc;border-bottom:1px solid #ccc;}
    .mobile_icson_hd {height:35px;zoom:1;overflow:hidden;}
    .mobile_icson_tit {float:left;font:400 14px/35px "\5FAE\8F6F\96C5\9ED1",Arial;}
    .mobile_icson_ext {float:left;font:400 12px/35px Arial;color:#888;}
    .mobile_icson_bd {clear:both;zoom:1;overflow:hidden;}
    .mobile_icson_tdcode {float:left;#display:inline;width:60px;height:60px;margin-right:10px;}
    .mobile_icson_store {float:left;width:95px;zoom:1;overflow:hidden;}
    .mobile_icson_store a {display:block;height:22px;margin-bottom:8px;text-indent:-9999px;overflow:hidden;}

    /* 用户入口 */
    .customer_entry {clear:both;height:39px;border-bottom:1px solid #ccc;}
    .customer_entry a {float:left;width:99px;height:39px;font:400 12px/39px Arial;color:#666;border-right:1px solid #ccc;text-align:center;}
    .customer_ico {display:inline-block;zoom:1;#display:inline;width:24px;height:22px;line-height:22px;margin-right:3px;}




/* =====猜你喜欢===== */
.ulike {clear:both;zoom:1;overflow:hidden;margin-top:25px;}
.ulike_hd {height:35px;zoom:1;overflow:hidden;}
.ulike_tit {float:left;font:400 20px/35px "\5FAE\8F6F\96C5\9ED1",Arial;padding-right:15px;}
.ulike_change {float:left;padding-top:8px;cursor:pointer;}
.ulike_change_ico {padding-left:20px;font-size:14px;line-height:18px;vertical-align:middle;margin-right:5px;}
.ulike_bd {width:1190px;}
.ulike_r1 {zoom:1;overflow:hidden;}
.ulike_r1 li {float:left;width:199px;height:144px;border-right:1px solid #ddd;border-top:1px solid #ddd;}
.ulike_r1 .ulike_r1_narrow {width:188px;border-left:1px solid #ddd;}
.ulike_r1 .ulike_r1_wide {width:399px;}

    /* ulike row1 item */
    .ulike_r1_item {width:190px;margin:4px auto 0;overflow:hidden;}
    .ulike_r1_item a {display:block;color:#555;-webkit-transition:color .3s ease-out;}
    .ulike_r1_tit {display:block;height:30px;line-height:30px;text-align:center;}
    .ulike_r1_tit em {font-weight:700;font-size:14px;padding-right:5px;}
    .ulike_r1_item a:hover,
    .ulike_r1_item a:hover em {color:#D70000;text-decoration:none;}

        /* ulike row1 item wide */
        .ulike_r1_narrow .ulike_r1_item {width:180px;}
        .ulike_r1_wide .ulike_r1_item {width:390px;}

    /* ulike row1 item, 带评论的模块 */
    .ulike_r1 .mod_goods {margin-top:34px;margin-left:4px;padding-right:5px;}
    .ulike_r1 .mod_goods_p1 {font-weight:700;font-size:14px;height:20px;padding-top:0px;}
    .ulike_r1 .mod_goods_tit {color:#888;width:100%;background-color:#000;}


.ulike_r2 {height:180px;zoom:1;overflow:hidden;}
.ulike_r2 li {position:relative;float:left;width:390px;height:180px;overflow:hidden;}
.ulike_r2 .ulike_r2_wide {width:400px;}
.ulike_r2_more {position:absolute;right:0px;top:0px;padding:0px 5px;height:25px;line-height:25px;background-color:#aaa;} 

/* =====F1===== */
.f1_goods_wrap {width:799px;overflow:hidden;border-right:1px solid #ccc;border-top:1px solid #ccc;}
.f1_goods {width:800px;}
.f1_goods li {float:left;width:149px;height:199px;border-right:1px solid #E5E5E5;border-bottom:1px solid #E5E5E5;overflow:hidden;}
.f1_goods .f1_goods_wide {width:299px;border-right:1px solid #E5E5E5;}
.f1_goods .f1_goods_clip {width:199px;border-right:1px solid #E5E5E5;}

/* =====F2===== */

/* =====F4===== */
.f4 .grid_m {overflow:hidden;}
.f4_goods_wrap {width:399px;height:273px;border:1px solid #ccc;border-left:0;}
.f4_goods {width:400px;height:272px;zoom:1;overflow:hidden;}
.f4_goods li {float:left;width:200px;height:136px;}
.f4_brand {width:400px;height:65px;overflow:hidden;}
.f4_brand li {float:left;width:199px;height:64px;border-right:1px solid #ccc;border-bottom:1px solid #ccc;}

/* =====F5===== */
.f5_side {float:left;width:190px;height:300px;}
.f5_goods_wrap {float:left;width:999px;height:298px;border:1px solid #ccc;border-left:0;overflow:hidden;}
.f5_goods {width:1000px;zoom:1;overflow:hidden;}
.f5_goods li {float:left;width:199px;height:298px;border-right:1px solid #E5E5E5;}

/* =====market===== */
.ic_market {clear:both;margin-top:30px;background-color:#2A7AC9;}
.market_link {display:block;height:100px;text-align:center;}
.market_img_1 {float:left;}
.market_img_2 {float:right;}

/* =====Footer===== */
.ic_footer {background-color:#F0F0F0;}
.ic_footer_con {zoom:1;overflow:hidden;border-left:1px solid #E0E0E0;border-right:1px solid #E0E0E0;}
/* 自身宽度5n=240px，右侧4个栅格宽度 */
.fensure {float:left;width:220px;padding-left:20px;padding-right:120px;}
/* 自身宽度10n=400px,边框占2px，右侧3个栅格的宽度,一个gutter的宽度10px. 108 = 40*3-2-10 */
.fhelp {float:left;width:380px;padding:0 108px 20px 20px;border-left:1px solid #E0E0E0;border-right:1px solid #E0E0E0;}
/* 自身宽度8n=320px,外围边框占2px */
.fmobile {float:left;width:298px;padding-left:20px;}

.sy_mod_footer_hd {zoom:1;overflow:hidden;height:45px;color:#2A7AC7;}
.sy_mod_footer_hd_bod {float:left;margin-right:8px;font-size:0px;width:3px;height:16px;margin-top:16px;overflow:hidden;background-color:#2A7AC7;}
.sy_mod_footer_hd_tit {float:left;font:400 16px/45px "\5FAE\8F6F\96C5\9ED1",Arial;}

    /* 承诺 */
    .mod_ensure {padding-top:10px;}
    .mod_ensure_li {padding-bottom:20px;padding-left:50px;zoom:1;overflow:hidden;}
    .mod_ensure_ico {float:left;margin-left:-50px;width:35px;height:35px;background-color:#000;}
    .mod_ensure_tit {font:400 14px/20px Arial;}
    .mod_ensure_desp {color:#888;}

    /* 服务*/
    .mod_service_ul {zoom:1;overflow:hidden;}
    .mod_service_ul li {float:left;width:170px;padding-top:10px;padding-right:10px;}
    .mod_service_dot {padding-left:2px;}
    .mod_service_hot {position:relative;display:inline-block;zoom:1;#display:inline;top:-10px;width:20px;height:10px;background-color:#f80;overflow:hidden;}

    /* guide */
    .mod_guide {clear:both;}
    .mod_guide_ul {zoom:1;overflow:hidden;}
    .mod_guide_li {float:left;width:126px;padding-top:20px;}
    .mod_guide_li dt {font-weight:700;line-height:32px;}
    .mod_guide_li dd {zoom:1;overflow:hidden;line-height:22px;color:#888;}
    .mod_guide_li dd a {color:#888;}
    .mod_guide_li dd a:hover {color:#d70000;}
    .mod_guide_li_last {width:150px;}

    /* 手机服务 */
    .mobile_icson {height:109px;padding-left:15px;border-right:1px solid #ccc;border-bottom:1px solid #ccc;}
    .mobile_icson_hd {height:35px;zoom:1;overflow:hidden;}
    .mobile_icson_tit {float:left;font:400 14px/35px "\5FAE\8F6F\96C5\9ED1",Arial;}
    .mobile_icson_ext {float:left;font:400 12px/35px Arial;color:#888;}
    .mobile_icson_bd {clear:both;zoom:1;overflow:hidden;}

    .mod_mobile_item {zoom:1;overflow:hidden;padding-left:70px;margin-top:10px;padding-bottom:15px;}
    .mod_mobile_tdcode {float:left;#display:inline;width:60px;height:60px;margin-left:-70px;}
    .mod_mobile_desp {float:left;}
    .mod_mobile_tit {font:400 14px/18px Arial;}
    .mod_mobile_p1 {color:#888;}
    .mod_mobile_store {height:22px;zoom:1;overflow:hidden;padding-top:5px;}
    .mod_mobile_store a {float:left;width:95px;height:22px;margin-right:10px;text-indent:-9999px;overflow:hidden;}

/* =====Sub Footer===== */
.ic_subfooter {padding:20px 0px;}
.ic_subfooter p {text-align:center;}

/* =====RWD Define===== */
/* 990 show */
@media (max-width:1210px) {
    /* common */
    .grid_c1 {width:990px;}
    .grid_m {width:600px;}
    .grid_s5m25 .grid_m {width:800px;}

    /* slide banner */
    .slider {width:600px;}
    .slider_img {margin-left:-100px;}

    /* daily */
    .daily_hd {width:219px;left:190px;}
    .daily_bd {width:599px;}
    .daily_goods {width:600px;}
    .daily_goods li {width:179px;padding-right:0px;}
    .daily_goods .daily_goods_wide {width:179px;padding-right:20px;}

        /* daily goods */
        .daily .mod_goods_w120 {padding-left:90px; height:auto!important; min-height:80px; height:80px;}
        .daily .mod_goods_img,
        .daily .mod_goods_img img {width:80px;height:80px;}
        .daily .mod_goods_stock span {width:45px;}

    /* 猜你喜欢 */
    .ulike_r2 .ulike_r2_wide {width:300px;}
    .ulike_r2_wide img {margin-left:-50px;}

    /* 排行榜 */
    .grid_c1 .sy_mod_rank {width:799px;}

    /* f1 */
    .f1 .f1_goods_wrap {width:599px;}
    
    /* f2 */
    .sy_mod_f2_goods_wrap {width:599px;}
    
    /* f4 */
    .grid_s5m10 .grid_m_2 {width:200px;}
    .grid_s5m10 .grid_m_2 .f4_goods_wrap {width:199px;}

    /* f5 */
    .f5 .f5_goods_wrap {width:799px;}

    /* 易迅帮助 */
    .fensure {padding-right:20px;}
    .fhelp {padding-right:8px;}
}
/* 790 show */
@media (max-width:1010px) {
    /* common */
    .grid_c1 {width:790px;}
    .grid_e {display:none;}
    .grid_s5m25 .grid_m {width:600px;}

    /* search minicart */
    .mod_search {margin-right:0px;width:350px;}
    .mod_search_con {width:300px;}
    .mod_minicart {display:none;}

    /* 猜你喜欢 */
    .ulike_r2 .ulike_r2_wide {width:400px;}
    .ulike_r2_wide img {margin-left:0px;}

    /* 排行榜 */
    .grid_c1 .sy_mod_rank {width:599px;}

    /* f4 */
    .grid_s5m10 .grid_m_1 {width:200px;}
    .grid_s5m10 .grid_m_1 .f4_goods_wrap {width:199px;}

    /* f5 */
    .f5 .f5_goods_wrap {width:599px;}

    /* 底部市场营销内容 */
    .market_img_2 {width:0px;}
    .market_img_1 {float:none;display:inline-block;zoom:1;#display:inline;}

    /* 易迅帮助 */
    .ic_footer_con {border-right:0;}
    .fmobile {display:none;}
    .fensure {float:left;}
    .fhelp {float:right;}
}

/* =====todo set min-width for ios ===== */
@media only screen and (max-device-width: 768px)  { 
    body {min-width:800px;}
}
