---
layout: page
title: Categories
header: Posts By Category
group: navigation
---
{% include JB/setup %}

<div class="category_cont">
    <ul class="cate_nav">
        {% assign categories_list = site.categories %}
        {% include JB/categories_list %}
    </ul>


    {% for category in site.categories %} 
    <h2 class="cate_tit" id="{{ category[0] }}-ref">{{ category[0] | join: "/" }}</h2>
    <ul class="cate_list">
        {% assign pages_list = category[1] %}  
        {% include JB/pages_list %}
    </ul>
    {% endfor %}
</div>
