html,body,h1,h2,h3,h4,p,iframe,ul,ol,li,th,td,dd{margin:0;padding:0}
li{list-style:none}
body{font:12px/1.5 "\5FAE\8F6F\96C5\9ED1",tahoma;color:#666}
table{border-collapse:collapse;border-spacing:0}
img{border:0;display:block}
i,em{font-style:normal}
a,a:hover{text-decoration:none;background-color:transparent}
a:focus{outline:0}
body{min-width:1000px;padding-top:42px}
.hide{display:none}
.ishow{display:block!important}
.ht{text-indent:-9999px;overflow:hidden}
#footer_ied{padding:17px 0;line-height:22px;background-color:#EFF0F1;text-align:center;color:#999}
#footer_ied a{color:#999}
#footer_ied a:hover{color:#555}
.sod_layer{display:none}
.clink_item .ico i,
.clink_item .ico{background-image:url(http://ossweb-img.qq.com/images/n/web2015/sprite.png);background-repeat:no-repeat}
.clink_wrap{background-image:url(http://ossweb-img.qq.com/images/n/web2015/bg_link.jpg);background-repeat:repeat-x;background-color:#EFF0F1}
.swf_wrap{position:relative;width:100%;height:900px;background-color:#ccc}
.swf_wrap .btn_wrap {position:absolute;top: 500px;left:50%;margin-left: 145px;width:278px;height:36px;background-image:url(http://ossweb-img.qq.com/images/n/web2015/btn_24.png);background-repeat:no-repeat;}
.swf_wrap .btn_wrap a {float:left;width: 135px;height:100%;font: 400 16px/36px "\5FAE\8F6F\96C5\9ED1",tahoma;color:#fff;text-align:center;letter-spacing: 2px;}

.clink{width:1000px;margin:0 auto;zoom:1;overflow:hidden;padding-top:70px;padding-bottom:100px}
.clink a{color:#39f}
.clink_item{float:left;position:relative;width:200px;margin-left: 65px;}
.clink_item_a {position:absolute;width:100%;height: 90px;left:0px;top: 100px;}
.clink_item_1{margin-left:0px;}
.clink_item .ico{display:block;margin:0 auto;width: 82px;height: 93px;}
.clink_item .ico i {display:block;height:100%;opacity:0;visibility:hidden\9;-webkit-transition: all 0.3s ease-out; transition: all 0.3s ease-out;}

.clink_item .ico_2{background-position:-100px 0}
.clink_item .ico_3{background-position:-200px 0}
.clink_item .ico_4{background-position:-300px 0}

.clink_item .ico_1 i {background-position:0px -100px;}
.clink_item .ico_2 i {background-position:-100px -100px;}
.clink_item .ico_3 i {background-position:-200px -100px;}
.clink_item .ico_4 i {background-position:-300px -100px;}

.clink_item .ico_4:hover i,
.clink_item .ico_3:hover i,
.clink_item .ico_1:hover i,
.clink_item .ico_2:hover i {opacity:1;visibility:visible\9;}

.clink_item strong{font:700 24px/40px "\5FAE\8F6F\96C5\9ED1",tahoma;color:#333;display:block;text-align:center;padding-top:10px;height:45px}
.clink_item_4 strong {color:#723EB9;}
.clink_item .desp{font-size:14px}
html,body,h1,h2,h3,h4,p,iframe,ul,ol,li,th,td{margin:0;padding:0}
li{list-style:none}
body{font:12px/1.5 "\5FAE\8F6F\96C5\9ED1";color:#666}
table{border-collapse:collapse;border-spacing:0}
img{border:0;display:block}
i,em{font-style:normal}
a,a:hover{text-decoration:none;background-color:transparent}
a:focus{outline:0}
.hide{display:none}
.ishow{display:block!important}
.ht{text-indent:-9999px;overflow:hidden}
.layer_mo{display:none;box-sizing:border-box;padding:20px 10px 0 10px;position:absolute;z-index:10;left:2%;right:2%;top:1%;bottom:1%;box-shadow:0 0 10px 3px #333;background-color:#222;color:#aaa}
.layer_close{position:absolute;right:0;top:0;width:44px;height:44px;font:400 40px/44px "\5FAE\8F6F\96C5\9ED1";background-color:#C5A44C;color:#fff;text-align:center}
.layer_mo .row{zoom:1;overflow:hidden;line-height:30px;margin-top:10px;font-size:14px}
.layer_mo .row .c1{float:left;width:30%;min-height:1px;text-indent:15px}
.layer_mo .row .c2{float:left;width:70%}
.layer_mo .row .txt{border:0;padding:0;width:150px;height:22px;line-height:22px;text-indent:10px;background-color:#ddd;border-radius:2px}
.layer_mo .row select{border:0;margin:0;padding:2px 0;background-color:#ddd;border-radius:2px}
.layer_mo .btn{display:inline-block;padding:2px 12px;border-radius:3px;background-color:#C5A44C;color:#fff;font-size:14px;text-align:center;font-size:14px;line-height:25px}
.layer_mo{display:block}
.sod_layer{display:none;position:absolute;z-index:100;left:50%;top:30%;background-color:#000;width:500px;margin-left:-250px}
.sod_layer_bd{clear:both;border:5px solid #C5A44C;background-color:#060606;color:#C5A44C;padding:20px 25px}
.sod_layer_x:hover i{-webkit-transform:rotate(180deg)}
.sod_layer_tit{margin-bottom:15px;font:400 16px/35px tahoma;border-bottom:1px solid #6F623E}
.sod_layer_btn_wrap{padding-top:30px;text-align:center}
.sod_layer_btn{display:inline-block;zoom:1;#display:inline;padding:0 12px;margin:0 auto;font:400 12px/25px arial;border-style:solid;border-width:1px;border-color:#AB8745 #695329 #695329 #AB8745;background-color:#896E37;color:#fff;cursor:pointer}
.sod_layer_btn:hover{background-color:#896E37}

/* =====mobile===== */
.sec_list li i {background-image:url(http://ossweb-img.qq.com/images/n/web2015/sprite.png);background-repeat:no-repeat;}
.second_sec {background-image:url(http://ossweb-img.qq.com/images/n/web2015/mobile_bg2.jpg);background-repeat:no-repeat;background-size:100%;}

.modAnim {-webkit-transition: all 0.3s ease-out; transition: all 0.3s ease-out;}

.mobile_wrap {display:none;width:100%;height:100%;background-color:#DDDEE2;}
.first_sec {position:absolute;left:0px;top:0px;width:100%;height:100%;background:url(http://ossweb-img.qq.com/images/n/web2015/mobile.jpg) center top no-repeat;background-size: cover;text-align:center;}
.first_sec_zoomin {-webkit-transform-origin:center 100%; -webkit-transform:rotateX(10deg);opacity:0;}
.mobile_avatar {width:69.6%;padding-top:73.4%;margin: 25% auto 0px auto;background-image:url(http://ossweb-img.qq.com/images/n/web2015/mobile_avatar.png);background-repeat:no-repeat;background-size:100%;
    -webkit-transition: all 1.0s ease-in; transition: all 1.0s ease-in;
    -webkit-clip-path: circle(0px at center);-webkit-filter:blur(5px) ;
}
.mobile_avatar_clip_show {-webkit-clip-path: circle(100% at center);-webkit-filter:blur(0) ;}

.mobile_avatar_foot {clear:both;opacity:0;display:inline-block;width:20.5%;padding-top:18%;margin-top: 0.5%;margin-left: 18%;background-image:url(http://ossweb-img.qq.com/images/n/web2015/mobile_avatar_foot.jpg);background-repeat:no-repeat;background-size:100%;
-webkit-transition: all 1.5s ease-out; transition: all 1.5s ease-out;}


.avatar_anim {-webkit-animation:avatarAnim 2s 0.5s ease-in-out infinite forwards;animation:avatarAnim 2s 0.5s ease-in-out infinite forwards;}
@-webkit-keyframes avatarAnim {
    0% {-webkit-transform:translateY(0px)}
    50% {-webkit-transform:translateY(-10px)}
    100% {-webkit-transform:translateY(0px)}
}
@keyframes avatarAnim {
    0% {transform:translateY(0px)}
    50% {transform:translateY(-10px)}
    100% {transform:translateY(0px)}
}
.foot_anim {-webkit-animation:footAnim 2s 0.5s ease-in-out infinite forwards;animation:footAnim 2s 0.5s ease-in-out infinite forwards;}
@-webkit-keyframes footAnim {
    0% {-webkit-transform:translateY(0px)}
    50% {-webkit-transform:translateY(10px)}
    100% {-webkit-transform:translateY(0px)}
}
@keyframes footAnim {
    0% {transform:translateY(0px)}
    50% {transform:translateY(10px)}
    100% {transform:translateY(0px)}
}

.mobile_tit_canvas {display:block;width:34%;margin:3% auto 0;}

.tit_show {-webkit-animation:titAnim 0.5s .5s ease-in-out forwards;animation:titAnim 0.5s .5s ease-in-out forwards;}
@-webkit-keyframes titAnim {
    0% {-webkit-transform:scale(0.5);opacity:0;}
    80% {-webkit-transform:scale(1.2);opacity:1;}
    100% {-webkit-transform:scale(1);opacity:1;}
}
@keyframes titAnim {
    0% {transform:scale(0.5);opacity:0;}
    80% {transform:scale(1.2);opacity:1;}
    100% {transform:scale(1);opacity:1;}
}

.alex_line {position:absolute;top:0px;left:0px;height:100%;}


.second_sec {position:absolute;left:0px;top:1000px;display:none;width:100%;height:100%;background-color: #fff;}
.sec_list {padding: 5%;}
.sec_list li {overflow: hidden;padding-bottom: 6%;}
.sec_list li:last-child {padding-bottom:0px;}
.sec_list li i {float: left;width:82px;height:93px;}
.sec_list li .ico_1 {background-position:0px -100px;}
.sec_list li .ico_2 {background-position:-100px -100px;}
.sec_list li .ico_3 {background-position:-200px -100px;}
.sec_list li .ico_4 {background-position:-300px -100px;}
.sec_list .desp {overflow: hidden;padding-left: 15px;}
.sec_list .desp b {color:#333;font:400 20px/40px "\5FAE\8F6F\96C5\9ED1",tahoma;padding-bottom:10px;}
.sec_list .desp b a {color:#333;}
.sec_list .desp p {color:#555;font: 400 14px/21px "\5FAE\8F6F\96C5\9ED1",tahoma;}
.sec_list .desp a {color:#39f;}


@media(max-width:414px) {
    body {min-width:auto;}
    .pc_wrap {display:none;}
    .mobile_wrap {display:block;}
}
