* {margin:0;padding:0;list-style:none;}
body {background-color:#fff;font:400 14px/20px tahoma,Arial,"\5FAE\8F6F\96C5\9ED1";}

.ui_boss {height:300px;font:400 50px/300px proxima-nova, sans-serif;}
.ui_boss h1 {font-weight:400;text-align:center;color:#1f8dd6;}

.ui_m {width:800px;margin:0 auto;}
.ui_h3 {margin:0px;height:40px;font-size:20px;line-height:40px;border-bottom:1px solid #eee;}
.ui_con pre {padding:10px 10px;font-size:16px;line-height:20px;}
