/**
* 易迅微信——订单详情
*
* @author joyma<yevolcn#qq.com>
* @date 2013-08-23
*/
*{margin:0;padding:0;}
ul,li{list-style:none;}
img {border:none;}
a{text-decoration:none;color:#4B7FD0;}
body{background-color:#EFEFEF;font-size:14px;color:#333;-webkit-text-size-adjust:100%;min-width:320px;max-width:1024px;margin:0 auto;font-family:"\9ED1\4F53";}

/* module */
.co_red{color:#D50900}
.co_gray{color:#999;}

/* 公共标题 */
.goods{margin:20px 3.125%;}
	.goods_img{float:left;width:80px;height:80px;margin-right:10px;}
	.goods_img img{display:block;width:78px;height:78px;overflow:hidden;border:1px solid #C9C9C9;}
	.goods_name{height:26px;line-height:26px;overflow:hidden;word-wrap:break-word;word-break:break-all;white-space:nowrap;text-overflow:ellipsis;}
	.goods_name a{color:#333;}
	.goods_attr{color:#666;height:26px;line-height:26px;overflow:hidden;}
	.goods_price{height:26px;line-height:26px;overflow:hidden;margin-top:2px;}
	.goods_price .co_red{margin-left:5px;}



.address{padding:20px 3.125% 10px;margin:0px 32px 20px 32px;background-color:#fff;border:1px solid #D5D5D5;border-radius:4px;position:relative;}
	.address_item{padding-left:40px;position:relative;}
	.address_tit{position:absolute;top:0px;left:0px;color:#000;}
	.address_cnt p{margin-bottom:10px;}
	.address_ico{position:absolute;top:50%;margin-top:-10px;right:3%;font-size:16px;font-weight:bold;color:#666;}
	.address_blank{height:80px;line-height:70px;text-align:center;font-size:22px;}


.btn_buy{margin:0 auto;width:93.75%;display:block;height:42px;margin:0 auto;border:1px solid #656A66;line-height:42px;color:#fff;text-align:center;font-size:16px;-webkit-text-shadow:#ad5e00 0 -1px 0;border-radius:4px;-webkit-box-shadow:1px 1px 0 #96D89B inset, -1px -1px 0 #96D89B inset;background:#03940E;background:-webkit-gradient(linear, 0 0, 0 100%, from(#51BF5A), to(#03940E));background:-ms-linear-gradient(top, #51BF5A, #03940E);background:-moz-linear-gradient(top, #51BF5A, #03940E);background:-o-linear-gradient(top, #51BF5A, #03940E);text-shadow:0px 1px 1px #666;}
	.btn_buy:hover{-webkit-box-shadow:1px 1px 0 #52AD5A inset, -1px -1px 0 #52AD5A inset;background:#066C10;background:-webkit-gradient(linear, 0 0, 0 100%, from(#2B9B35), to(#00660A));background:-ms-linear-gradient(top, #2B9B35, #00660A);background:-moz-linear-gradient(top, #2B9B35, #00660A);background:-o-linear-gradient(top, #2B9B35, #00660A);}

.btn_buy_disabled{margin:0 auto;width:93.75%;display:block;height:42px;margin:0 auto;border:1px solid #666;line-height:42px;color:#ddd;text-align:center;font-size:16px;-webkit-text-shadow:#ad5e00 0 -1px 0;border-radius:4px;-webkit-box-shadow:1px 1px 0 #838383 inset, -1px -1px 0 #838383 inset;background:#03940E;background:-webkit-gradient(linear, 0 0, 0 100%, from(#8B8B8B), to(#6E6E6E));background:-ms-linear-gradient(top, #8B8B8B, #6E6E6E);background:-moz-linear-gradient(top, #8B8B8B, #6E6E6E);background:-o-linear-gradient(top, #8B8B8B, #6E6E6E);text-shadow:0px 1px 1px #666;}


/* 通用提示浮层 */
.mod_tips{position: fixed;top:50%;left:50%;padding:20px;width:220px;margin-left:-130px;height:auto;max-height:80px;margin-top:-60px;background-color:#000;opacity:0.9;border-radius:5px;}
.mod_tips_cnt{color:#fff;height:36px;line-height:18px;overflow:hidden;text-align:center;display:table-cell;width:220px;vertical-align:middle;}
.mod_tips_ft{height:30px;margin-top:14px;overflow:hidden;}
.mod_tips_btn{margin:0 auto;display:block;width:120px;height:30px;line-height:30px;text-align:center;color:#000;border-radius: 5px;
  	background: #d1d1d1;background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#d1d1d1));background: -webkit-linear-gradient(#ffffff, #d1d1d1);background: -moz-linear-gradient(#ffffff, #d1d1d1);background: -o-linear-gradient(#ffffff, #d1d1d1);background: linear-gradient(#ffffff, #d1d1d1);text-shadow:0px 1px 0 #F5F5F5;box-shadow:0px -1px 1px #979797 inset;
}
.mod_tips_btn:hover{
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#d1d1d1), to(#ffffff));background: -webkit-linear-gradient(#d1d1d1, #ffffff);background: -moz-linear-gradient(#d1d1d1, #ffffff);background: -o-linear-gradient(#d1d1d1, #ffffff);background: linear-gradient(#d1d1d1, #ffffff);
}
