/* reset */
* {margin:0;padding:0;list-style:none;}
body{font-family:"Avenir Next","Helvetica Neue",Helvetica,Arial;font-size:14px;line-height:20px;color:#474747;background-color:#F1E6D5;}
a {color:#435B81;text-decoration:none;}
a:hover {color:#111;text-decoration:none;}
a:focus {outline:none;}
img {display:block;max-width:100%;}
h1,h2,h3,h4 {font-weight:400;}
.hide {display:none;}

/* header */
.header{border-bottom:20px solid #F1E6D5;background-color:#3f4955;}
.header_inner{width:850px;height:50px;margin:0 auto;line-height:50px;border-bottom:1px solid #111;}
.header .brand{float:left;height:100%;font:400 18px/50px "courier new","\5FAE\8F6F\96C5\9ED1";color:#ddd;}
.header .brand:hover{color:#fff;}
.header .nav{float:right;height:100%;}
.header .nav li{float:left;height:100%;line-height:50px;}
.header .nav a {padding-left:20px;color:#ccc;}
.header .nav a:focus,
.header .nav a:hover {color:#fff;}

/* container */
.content {width:850px;margin:0 auto;background-color:#fff;border-radius:3px;}
.content_inner {padding:20px 20px 40px;}

.page_topic {height:50px;line-height:50px;padding-bottom:10px;margin-bottom:20px;border-bottom:3px double #eee;}

.post_list li {padding:15px 0px 20px;line-height:25px;border-bottom:1px solid #e5e5e5;}
.post_list .tit {display:block;font-size:18px;line-height:30px;color:#435B81;}
.post_list .tit:hover {color:#000;}
.post_list .time {font-size:12px;color:#bbb;}
.post_list .time span {padding-right:10px;}
.post_list .desp {color:#888;}

/* post page */
.post_date {height:30px;line-height:30px;color:#aaa;zoom:1;overflow:hidden;}
.post_date li {float:left;padding-right:5px;}
.post_cate,
.post_tag {padding-left:15px;}

.post_cont {font-size:16px;line-height:22px;overflow:hidden;color:#333;padding-bottom:20px;}
.post_cont h3 {height:50px;line-height:50px;font-size:26px;margin:20px 0px;}
.post_cont h4 {height:40px;line-height:40px;font-size:22px;margin:10px 0px;}
.post_cont p {margin:25px 0px;}
.post_cont ul {margin:25px 0px;}
.post_cont li {list-style-type:disc;margin:5px 0px 5px 25px;}
/* inline code  */
code {font-family:Consolas,Menlo,"Courier New";color:#c7254e;background-color:#f9f2f4;padding:3px 5px 0;border-radius:3px;margin:0px 3px;}

/* code block */
pre {padding:10px 0px 10px 10px;margin:20px 0px;background-color:rgba(102,128,153,0.05);border-left:8px solid rgba(102,128,153,0.075);}
pre code {display:block;padding:0px;margin:0px;font-size:14px;background:none;color:#333333;}

/* footer */
.footer {text-align:center;padding:20px 0px;}

.pager {clear:both;height:30px;margin-top:30px;text-align:center;}
.pager a ,
.pager span {display:inline-block;padding:0px 8px;height:25px;line-height:25px;border:1px solid #ddd;background-color:#eee;margin-right:3px;border-radius:3px;}
.pager span {background-color:#fff;}
.pager a:hover {border-color:#ccc;background-color:#fff;color:#435B81;}

/* pages */
.page_jump {height:40px;line-height:40px;text-align:center;border-top:1px solid #eee;border-bottom:1px solid #eee;}
.page_jump li {display:inline-block;}
.page_jump a {padding:0px 10px;}

table {border-collapse:collapse;}
caption, th,td {padding:10px 15px;border:1px solid #ccc;}
caption {border-bottom:0;background-color:#eee;}

/* archive */
.archive_cont h2 {height:40px;line-height:40px;border-bottom:1px dotted #ccc;}
.archive_cont h3 {height:30px;line-height:30px;margin:15px 0px;color:#000;}
.archive_cont li {margin:10px 0px;}
.archive_cont li span {color:#888;padding-right:10px;}

/* category */
.cate_nav {zoom:1;overflow:hidden;margin-bottom:20px;}
.cate_nav li {float:left;height:30px;margin-right:10px;}
.cate_nav li a {float:left;height:28px;line-height:28px;padding:0px 10px;background-color:#f5f5f5;border:1px solid #eee;border-radius:3px;}

.cate_tit {height:50px;line-height:50px;margin-bottom:20px;border-bottom:1px dotted #ccc;}
.cate_list li {margin:10px 0px;}

/* tags */
.tags_nav {zoom:1;overflow:hidden;word-break:break-all;white-space:normal;word-wrap:break-word;}
.tags_nav li {float:left;margin-right:9px;margin-bottom:8px;border:1px solid #eee;border-radius:2px;padding:2px 5px;}
.tags_tit {height:50px;line-height:50px;margin-bottom:20px;border-bottom:1px dotted #ccc;}
.tags_list li {margin:10px 0px;}

/* Pretty printing styles. Used with prettify.js. */
.pln { color: #000 }  /* plain text */
.str { color: #f09 }  /* string content */
.kwd { color: #06f }  /* a keyword */
.com { color: #090 }  /* a comment */
.typ { color: #606 }  /* a type name */
.lit { color: #066 }  /* a literal value */
.pun, .opn, .clo { color: #660 }
.tag { color: #008 }  /* a markup tag name */
.atn { color: #606 }  /* a markup attribute name */
.atv { color: #080 }  /* a markup attribute value */
.dec, .var { color: #606 }  /* a declaration; a variable name */
.fun { color: red }  /* a function name */
