<div class="page_topic">
    <h1>{{ page.title }}</h1>
</div>

<ul class="post_date">
    <li>Time: {{ page.date | date_to_long_string }}</li>

{% unless page.categories == empty %}
    <li class="post_cate">Categories: </li>
    {% assign categories_list = page.categories %}
    {% include JB/categories_list %}
{% endunless %}  

{% unless page.tags == empty %}
    <li class="post_tag">Tags: </li>
    {% assign tags_list = page.tags %}
    {% include JB/tags_list %}
{% endunless %}  
</ul>

<div class="post_cont">
    {{ content }}
</div>

<ul class="page_jump">
    {% if page.previous %}
    <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&laquo; Previous</a></li>
    {% else %}
    <li class="prev disabled"><a>&laquo; Previous</a></li>
    {% endif %}
    <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive</a></li>
    {% if page.next %}
    <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &raquo;</a></li>
    {% else %}
    <li class="next disabled"><a>Next &raquo;</a>
    {% endif %}
</ul>
{% include JB/comments %}

<script type="text/javascript" src="/static/jq.js"></script>
<script type="text/javascript">
    $(function () {
        $.ajax({
            dataType:'script',
            cache: true,
            url: '/static/prettify.js'
        }).done(function () {
            $('p>img').parent().css('overflowX', 'auto');
            $('pre').addClass("prettyprint");
            prettyPrint();
        })
    });
</script>
